Repository NervJS/taro: changes, and which Codecov flags are due for each by the changed paths.
All: taro-cli, taro-webpack5-runner, taro-webpack-runner, taro-mini-runner, taro-runtime, taro-h5, taro-components

codecov.yml:

comment:
  layout: "header, reach, diff, flags, files, footer" # the layout of the comment on PRs
  require_changes: true  # only comment if coverage changes

coverage:
  status:
    project:
      default:
        target: 80%    # the required coverage value
        threshold: 5%  # the leniency in hitting the target
        informational: true
        flags:
          - taro-cli
          - taro-webpack5-runner
          - taro-webpack-runner
          - taro-mini-runner
          - taro-runtime
          - taro-h5
          - taro-components
      taro-cli:
        flags:
          - taro-cli
      taro-runner:
        flags:
          - taro-webpack5-runner
          - taro-webpack-runner
          - taro-mini-runner
      taro-runtime:
        flags:
          - taro-runtime
      taro-h5:
        flags:
          - taro-h5
          - taro-components
    patch:
      default:
        informational: true

flags:
  taro-cli:
    paths:
      - packages/taro-cli/
  taro-webpack5-runner:
    paths:
      - packages/taro-webpack5-runner/
  taro-webpack-runner:
    paths:
      - packages/taro-webpack-runner/
  taro-mini-runner:
    paths:
      - packages/taro-mini-runner/
  taro-runtime:
    paths:
      - packages/taro-runtime/
  taro-h5:
    paths:
      - packages/taro-h5/
  taro-components:
    paths:
      - packages/taro-components/
  nightly:
    joined: false

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 80%

fix: 修复 `@tarojs/taro` 在 IDEA 中缺少 TS 类型提示
  packages/taro-cli/templates/default/package.json.tmpl
  packages/taro-cli/templates/default/tsconfig.json
  packages/taro-cli/templates/plugin-compile/tsconfig.json
Due: taro-cli

feat: 根据严格模式调整鸿蒙适配代码
  packages/taro-platform-harmony/src/components/components-harmony-ets/button.ets
  packages/taro-platform-harmony/src/components/components-harmony-ets/scrollView.ets
  packages/taro-platform-harmony/src/components/components-harmony-ets/utils/helper.ets
  packages/taro-vite-runner/src/harmony/template/page.ts
Due: none

fix: 修复updateGroundOverlay经纬度坐标与id非法值异常
  packages/taro-components/src/components/map/map.tsx
Due: taro-components

feat: 支持在原生项目使用 Taro 页面和组件
  packages/taro-platform-harmony/src/runtime-framework/react/native-page.ts
  packages/taro-vite-runner/src/harmony/config.ts
  packages/taro-vite-runner/src/harmony/template/page.ts
  packages/taro-vite-runner/src/utils/compiler/harmony.ts
Due: none

feat(h5): support requestTask abort method (#15095)
  packages/taro-h5/src/api/network/request/index.ts
Due: taro-h5

feat: 更新 CI
  .github/workflows/build-rust-binding.yml
  .vscode/settings.json
Due: none

fix(templates): 更新依赖，以解决 @pmmmwh/react-refresh-webpack-plugin 更新导致的 require is not defined 异常
  packages/taro-cli/templates/default/package.json.tmpl
Due: taro-cli

fix(ci): individual_flags
  .github/workflows/nodejs.yml
  codecov.yml
Due: none

fix(sass): fix @use rules sorting problem
  packages/taro-rn-style-transformer/src/transforms/sass.ts
  packages/taro-rn-style-transformer/src/utils/index.ts
Due: none

fix: 更新 webpack 依赖依赖版本
  package.json
  packages/taro-loader/package.json
  packages/taro-plugin-react/package.json
  packages/taro-service/package.json
  packages/taro-webpack5-prebundle/package.json
  packages/taro-webpack5-runner/package.json
Due: taro-webpack5-runner

fix(mini): 修复 alias 在递归组件配置时获取不完整的问题 (#15022)
  packages/taro-webpack5-runner/src/plugins/MiniPlugin.ts
Due: taro-webpack5-runner

chore: test ci codecov (#15030)
  .github/workflows/nodejs.yml
  codecov.yml
  packages/taro-runtime/jest.config.js
  packages/taro-runtime/package.json
Due: taro-runtime

feat(runner): 新增 webpack 不同级别编译错误处理方式 (#14559)
  packages/taro-mini-runner/src/index.ts
  packages/taro-service/package.json
  packages/taro-webpack-runner/src/index.ts
  packages/taro-webpack5-runner/src/index.h5.ts
  packages/taro-webpack5-runner/src/index.mini.ts
  packages/taro-webpack5-runner/src/utils/webpack.ts
  packages/taro/types/compile/compiler.d.ts
Due: taro-webpack5-runner, taro-webpack-runner, taro-mini-runner

feat(h5): 增加 navigationStyle 配置处理逻辑 (#14960)
  packages/taro-router/src/router/multi-page.ts
  packages/taro-router/src/router/page.ts
  packages/taro-router/src/router/spa.ts
  packages/taro-router/src/style.ts
Due: none

chore: 调整 ci binding 生成 macos 版本
  .github/workflows/build-rust-binding.yml
  .github/workflows/nodejs.yml
Due: none

fix(h5): 组件 Image 兼容 mode 为空串和 src 无值的情况 (#14963)
  packages/taro-components/__tests__/__snapshots__/image.spec.tsx.snap
  packages/taro-components/package.json
  packages/taro-components/src/components/image/image.tsx
  pnpm-lock.yaml
Due: taro-components

fix(rs): 文件经过 copy 或者 write 后，在 Unix 系统上继承原文件的权限 (#15040)
  crates/taro_init/src/async_fs.rs
  crates/taro_init/src/utils.rs
Due: none

feat(h5): 移除 mobile-detect 依赖
  packages/stylelint-taro/.gitignore
  packages/taro-h5/package.json
  packages/taro-h5/src/api/base/system.ts
  packages/taro-h5/src/api/media/video/chooseMedia.ts
  packages/taro-router/src/utils/navigate.ts
  pnpm-lock.yaml
Due: taro-h5

feat(react): 小程序支持 defaultValue，fix #14506 (#15044)
  packages/taro-components/types/Checkbox.d.ts
  packages/taro-components/types/Input.d.ts
  packages/taro-components/types/Picker.d.ts
  packages/taro-components/types/PickerView.d.ts
  packages/taro-components/types/Radio.d.ts
  packages/taro-components/types/Slider.d.ts
  packages/taro-components/types/Switch.d.ts
  packages/taro-components/types/Textarea.d.ts
  packages/taro-react/src/reconciler.ts
Due: taro-components

chore: update ci codecov
  codecov.yml
Due: none

chore: update CI actions/artifact from v3 to v4
  .github/workflows/build-rust-binding.yml
  .github/workflows/build-rust-wasm.yml
  .github/workflows/dependabot-update-lockfile.yml
  .github/workflows/nodejs.yml
  .github/workflows/publish.yml
Due: none

feat(ci): update codecov (#15103)
  .github/workflows/nodejs.yml
  README.md
  codecov.yml
  packages/babel-plugin-transform-react-jsx-to-rn-stylesheet/package.json
  packages/babel-plugin-transform-taroapi/package.json
  packages/babel-preset-taro/package.json
  packages/taro-cli-convertor/package.json
  packages/taro-cli/package.json
  packages/taro-components-rn/package.json
  packages/taro-components/package.json
  packages/taro-h5/package.json
  packages/taro-helper/package.json
  packages/taro-mini-runner/package.json
  packages/taro-plugin-http/package.json
  packages/taro-react/package.json
  packages/taro-rn-runner/package.json
  packages/taro-rn-style-transformer/package.json
  packages/taro-rn-supporter/package.json
  packages/taro-rn-transformer/package.json
  packages/taro-rn/package.json
  packages/taro-router/package.json
  packages/taro-runtime/package.json
  packages/taro-service/package.json
  packages/taro-transformer-wx/package.json
  packages/taro-webpack-runner/package.json
  packages/taro-webpack5-runner/package.json
  packages/taroize/package.json
Due: taro-cli, taro-webpack5-runner, taro-webpack-runner, taro-mini-runner, taro-runtime, taro-h5, taro-components

fix: 修复image没有添加点击事件
  packages/taro-components-rn/src/__tests__/__snapshots__/video.spec.tsx.snap
  packages/taro-components-rn/src/components/Image/index.tsx
Due: none

feat: 更新components的测试快照
  packages/taro-components/__tests__/__snapshots__/picker-view.spec.tsx.snap
Due: taro-components

feat(tt): 支持 awesome-user-card (#14936)
  packages/taro-mini-runner/src/__tests__/__snapshots__/bytedance.spec.ts.snap
  packages/taro-tt/src/components-react.ts
  packages/taro-tt/src/components.ts
  packages/taro-webpack5-runner/src/__tests__/__snapshots__/mini-platform.spec.ts.snap
  packages/taro/types/api/media/image.d.ts
Due: taro-webpack5-runner, taro-mini-runner

feat: 优化rn的clickable组件，1000节点增加20%渲染速度
  packages/taro-components-rn/src/__tests__/__snapshots__/camera.spec.tsx.snap
  packages/taro-components-rn/src/__tests__/__snapshots__/video.spec.tsx.snap
  packages/taro-components-rn/src/components/Image/index.tsx
  packages/taro-components-rn/src/components/View/index.tsx
  packages/taro-components-rn/src/components/hooks/PropsType.tsx
  packages/taro-components-rn/src/components/hooks/useClickable.tsx
Due: none

feat(types): types canvas (#14793)
  packages/taro-h5/src/api/canvas/CanvasContext.ts
  packages/taro/types/api/canvas/index.d.ts
Due: taro-h5

fix: 修复默认mode不为scaleToFill
  packages/taro-components-rn/src/components/Image/index.tsx
Due: none

feat: 修改taro-platform-harmony-mini文件夹；
  package.json
  packages/taro-cli/src/cli.ts
  packages/taro-cli/templates/default/package.json.tmpl
  packages/taro-platform-harmony-mini/README.md
  packages/taro-platform-harmony-mini/build/definition-json/parseApis.ts
  packages/taro-platform-harmony-mini/build/definition-json/parser.ts
  packages/taro-platform-harmony-mini/package.json
  packages/taro-platform-harmony-mini/rollup.config.ts
  packages/taro-platform-harmony-mini/src/apis/apis.ts
  packages/taro-platform-harmony-mini/src/apis/taro.ts
  packages/taro-platform-harmony-mini/src/program.ts
  packages/taro-platform-harmony-mini/src/runtime/apis/index.ts
  packages/taro-platform-harmony-mini/src/runtime/apis/taro-apis.ts
  packages/taro-platform-harmony-mini/src/runtime/apis/taro.ts
Due: taro-cli

feat: 修改taro-platform-harmony-mini文件夹；
  packages/shared/src/constants.ts
  packages/taro-api/src/env.js
  packages/taro-platform-harmony-mini/rollup.config.ts
  packages/taro-platform-harmony-mini/src/apis/media/image/chooseImage.ts
  packages/taro-platform-harmony-mini/src/apis/media/image/compressImage.ts
  packages/taro-platform-harmony-mini/src/apis/media/image/getImageInfo.ts
  packages/taro-platform-harmony-mini/src/apis/media/image/previewImage.ts
  packages/taro-platform-harmony-mini/src/apis/media/image/previewMedia.ts
  packages/taro-platform-harmony-mini/src/apis/media/image/saveImageToPhotosAlbum.ts
  packages/taro-platform-harmony-mini/src/apis/media/index.ts
  packages/taro-platform-harmony-mini/src/apis/media/video/chooseMedia.ts
  packages/taro-platform-harmony-mini/src/apis/media/video/chooseVideo.ts
  packages/taro-platform-harmony-mini/src/apis/media/video/compressVideo.ts
  packages/taro-platform-harmony-mini/src/apis/media/video/getVideoInfo.ts
  packages/taro-platform-harmony-mini/src/apis/media/video/openVideoEditor.ts
  packages/taro-platform-harmony-mini/src/apis/media/video/saveVideoToPhotosAlbum.ts
  packages/taro-platform-harmony-mini/src/index.ts
  packages/taro-platform-harmony-mini/types/api.d.ts
  packages/taro-platform-harmony-mini/types/component.d.ts
  packages/taro-platform-harmony-mini/types/define.d.ts
  packages/taro-platform-harmony-mini/types/global.d.ts
  packages/taro-platform-harmony-mini/types/index.d.ts
  packages/taro-platform-harmony-mini/types/overlay.d.ts
  packages/taro-with-weapp/src/convert-tools.ts
  packages/taro/types/api/taro.extend.d.ts
Due: none

feat: 平台、组件、api 三合一库的配置修改
  packages/taro-platform-harmony-mini/package.json
  packages/taro-platform-harmony-mini/rollup.config.ts
  packages/taro-platform-harmony-mini/src/apis/media/EditorContext.ts
  packages/taro-platform-harmony-mini/src/apis/media/audio/index.ts
  packages/taro-platform-harmony-mini/src/apis/media/image/previewImage.ts
  packages/taro-platform-harmony-mini/src/components/react/index.ts
  packages/taro-platform-harmony-mini/src/components/vue2/index.ts
  packages/taro-platform-harmony-mini/src/components/vue3/index.ts
  packages/taro-platform-harmony-mini/src/program.ts
  packages/taro-platform-harmony-mini/src/runtime/apis/index.ts
  packages/taro-platform-harmony-mini/src/runtime/apis/taro-apis.ts
  packages/taro-platform-harmony-mini/src/runtime/apis/taro-h5.ts
  packages/taro-platform-harmony-mini/src/runtime/apis/taro.ts
  packages/taro-platform-harmony-mini/src/runtime/components/index.ts
  pnpm-lock.yaml
Due: none

feat: 修改taro-platform-harmony-mini文件夹；
  packages/taro-platform-harmony-mini/src/api/apis/location/getLocation.ts
Due: none

fix: 修复编译问题
  packages/taro-platform-harmony-mini/build/config/harmony-definition.json
  packages/taro-platform-harmony-mini/build/definition-json/parseApis.ts
  packages/taro-platform-harmony-mini/build/definition-json/parser.ts
  packages/taro-platform-harmony-mini/tsconfig.json
Due: none

feat: 删除多余的导出
  packages/taro-platform-harmony-mini/src/api/index.ts
  packages/taro-platform-harmony-mini/src/runtime/apis/taro-h5.ts
Due: none
